<%= form_for @restaurant, :html => {:multipart => true} do |f| %>
 <% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
 <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

<p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

 <p>
  <label>Image</label>
  <%= image_tag(@restaurant.image_url) if @restaurant.image? %> 
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  </p>
  <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove image
    </label>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
