<h2>Restaurant Directory</h2>
 
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Phone</th>
    <th colspan="3"></th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= image_tag restaurant.image_url(:thumb).to_s %></td>
      
      <td><%= link_to '<span class="glyphicon glyphicon-eye-open">Show</span>'.html_safe, restaurant_path(restaurant),
      class: "btn btn-default btn-md"%></td> 

      <td><%= link_to '<span class="glyphicon glyphicon-pencil">Edit</span>'.html_safe , edit_restaurant_path(restaurant),
      class: "btn btn-default btn-md"%></td>

      <td><%= link_to '<span class="glyphicon glyphicon-trash">Trash</span>'.html_safe, restaurant_path(restaurant), 
      class: "btn btn-default btn-md", method: :delete, data: { confirm: 'Are you sure?'} %></td>

    </tr>
  <% end %>
</table>

<p>
<%= link_to 'New restaurant', new_restaurant_path %>
</p>
