<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
 <%= image_tag(@restaurant.image_url) if @restaurant.image? %> 
</p>


<%= link_to '<span class="glyphicon glyphicon-backward"> Back </span>'.html_safe, restaurants_path, 
      class: "btn btn-default btn-md"%>

<%= link_to '<span class="glyphicon glyphicon-pencil"> Edit </span>'.html_safe , edit_restaurant_path,
      class: "btn btn-default btn-md"%>



 