<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ReservesterMika</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "partial/navbar" %>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Dobar dan dobri ljudi!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<%= yield %>



</body>
</html>
